extend layout/main.pug
block content
  .container.mt-5
    .row
      .col
        .tex-center
          .heading All Categories
  .container.mt-3
    .row
      .col(style="text-align: right;")
        button.btn.btn-info(type='button' )(style="") Create New Category
  .container.mt-3
    .row.d-flex.justify-content-center
      table.table.table-bordered.table-striped.table-hover
        thead.thead-dark
          tr
            th SN
            th Category Name
            th Action
        tbody
            for cat in categories 
                tr
                    td #{cat.id}
                    td #{cat.name}
                    td
                        button.btn.btn-success(type='button' )(style="margin: 0px 5px;") Update
                        a.btn.btn-danger(href='/delete_category/' +cat.id) Delete
