extend layout/main.pug
block content
  .container.mt-5
    .row
      .col
        .tex-center
          .heading All Expenses
  .container.mt-3
    .row
      .col(style="text-align: right;")
        button.btn.btn-info(type='button' )(style="") Add New Expense
  .container.mt-3
    .row.d-flex.justify-content-center
      table.table.table-bordered.table-striped.table-hover
        thead.thead-dark
          tr
            th SN
            th Category Name
            th Expense
            th Action
        tbody
          for expense, key in expenses
            tr
              td #{index=key+1}
              td #{expense.name}
              td &pound;#{expense.amount}
              td
                button.btn.btn-success(type='button' )(style="margin: 0px 5px;") Update
                button.btn.btn-danger(type='button' )(style="margin: 0px 5px;") Delete